<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Compare GPU
    </title>
    <style type="text/css">
    table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}
		thead {
			background: #ffffff;
			color: #fff;
		}
		td, th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 6px;
		}
		tr:nth-child(even) {
			background-color: #EEEEEE;
		}
		body {
      font-family: "Times New Roman", Times, serif;
    }
    a:visited {
      color: blue;
    }
    a:hover {
      color: green;
    }

    </Style>
</head>
<body>

<table>


    {% for i in range(value) %}
    {% for i in compare_info[i] %}


    <tr>
        <td>Gpu Name:{{i.Name}}</td>
        <td>GeometryShader:{{i.Geometry_Shader}}</br>
            tesselationShader:{{i.Tesselation_Shader}}</br>
            shaderInt16:{{i.ShaderInt16 }}</br>
            sparseBinding:{{i.Sparse_Binding}}</br>
            textureCompressionETC2:{{i.Texture_Compression_ETC2}}</br>
            vertexPipelineStoresAndAtomics:{{i.Vertex_Pipeline_Stores_And_Atomics}}
        </td>

    </tr>
    {% endfor %}
    {% endfor %}
</table>
</body>

</html>