<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Update Gpu information</title>
</head>
<body>
Edit the Gpu information below<br/>
<form method="post" action="/gpu_details_update">

    <p> Gpu Name: : {{ gpu.Name }}</p> <br/>


    Manufacturer:<input type="text" name="Manufacturer" value="{{ gpu.Manufacturer }}"/>
    <br/>
    Date_Issued:<input type="date" name="Date_Issued" value="{{ gpu.Date_Issued }}"/>
    <br/>

    {% if gpu.Geometry_Shader %}
    Geometry_Shader: <input type="checkbox" name="Geometry_Shader" value="{{gpu.Geometry_Shader}}" checked/>
    {% else %}
    Geometry_Shader : <input type="checkbox" name="Geometry_Shader" value="{{gpu.Geometry_Shader}}"/>
    {% endif %}<br/>

    {% if gpu.Tesselation_Shader %}
    Tesselation_Shader : <input type="checkbox" name="Tesselation_Shader" value="{{gpu.Tesselation_Shader}}" checked/>
    {% else %}
    Tesselation_Shader : <input type="checkbox" name="Tesselation_Shader" value="{{gpu.Tesselation_Shader}}"/>
    {% endif %}<br/>

    {% if gpu.ShaderInt16 %}
    ShaderInt16 : <input type="checkbox" name="ShaderInt16" value="{{gpu.ShaderInt16}}" checked/>
    {% else %}
    ShaderInt16 : <input type="checkbox" name="ShaderInt16" value="{{gpu.ShaderInt16}}"/>
    {% endif %}<br/>

    {% if gpu.Sparse_Binding %}
    Sparse_Binding : <input type="checkbox" name="Sparse_Binding" value="{{gpu.Sparse_Binding}}" checked/>
    {% else %}
    Sparse_Binding : <input type="checkbox" name="Sparse_Binding" value="{{gpu.Sparse_Binding}}"/>
    {% endif %}<br/>

    {% if gpu.Texture_Compression_ETC2 %}
    Texture_Compression_ETC2 : <input type="checkbox" name="Texture_Compression_ETC2"
                                      value="{{gpu.Texture_Compression_ETC2}}" checked/>
    {% else %}
    Texture_Compression_ETC2 : <input type="checkbox" name="Texture_Compression_ETC2"
                                      value="{{gpu.Texture_Compression_ETC2}}"/>
    {% endif %}<br/>

    {% if gpu.Vertex_Pipeline_Stores_And_Atomics %}
    Vertex_Pipeline_Stores_And_Atomics : <input type="checkbox" name="Vertex_Pipeline_Stores_And_Atomics"
                                                value="{{gpu.Vertex_Pipeline_Stores_And_Atomics}}" checked/>
    {% else %}
    Vertex_Pipeline_Stores_And_Atomics : <input type="checkbox" name="Vertex_Pipeline_Stores_And_Atomics"
                                                value="{{gpu.Vertex_Pipeline_Stores_And_Atomics}}"/>
    {% endif %}<br/>


    <input type="submit" value="Update" name="button"/>
</form>
<form method="post" action="/gpu_details_update">

    <input type="submit" value="Cancel" name="button"/>
</form>
</body>
</html>


